/*
 * Import the valo theme.
 * This only allows us to use the mixins defined in it and does not add any styles by itself.
 */
@import "../valo/valo";

/* This contains all of your theme.*/
@mixin modeler {

    /* Include all the styles from the valo theme */
    @include valo;

    /* Default margins are so big.. */
    .v-margin-top {
        padding-top: 10px;
    }
    .v-margin-right {
        padding-right: 10px;
    }
    .v-margin-bottom {
        padding-bottom: 10px;
    }
    .v-margin-left {
        padding-left: 10px;
    }

    .centered-content {
        background: url('img/background_linen.png') repeat;
    }

    .canvas {
        position: relative;
        background-color: #fff;
        border: 3px solid #393939;
        border-radius: 5px;
    }

    ._selectable:hover {
        outline: 2px solid $v-focus-color;
    }

    ._selected {
        outline: 2px solid $v-focus-color;
        background: red;
    }
}